irc:
  nick: "greenman"
  server: "irc.gamesurge.net"
  floodProtection: true
  channels: [
    "#modacitytest"
  ]

global:
  prefix: "!"
  disabledModules: [
    "halo3"
    "rip"
    "copyright"
    "rip"
  ]

